body {
  text-align: center;
  font-family: sans-serif;
  width: 100%;
  max-width: 60em;
  margin: 2ex auto;
}

h1 a {
  text-decoration: none;
  color: black;
  border-bottom: #8B4513 1px dotted;
}

#upload {
  width: 25em;
  margin: 1em auto;
}

#upload table {
  width: 100%;
}

#upload .config {
  font-size: smaller;
}

#upload fieldset {
    border: 5px solid #8B4513;
    border-radius: 2em;
}

#upload fieldset legend {
    margin-left: 2em;
}

#uploaded {
    width: 25em;
    margin: 0 auto;
    background: #E3BB9F;
    padding: 0.5em 0;
    border-radius: 0.5em;
}

#uploaded p {
    margin: 0;
    padding: 0.5em 0;
}

#uploaded #link {
    border: 1px solid #8B4513;
    border-radius: 0.3em;
    width: 90%;
    color: #000;
}

#upload .activation {
  text-align: left;
  font-style: italic;
}

#upload .label {
  text-align: left;
  vertical-align: top;
  font-size: smaller;
}

#upload .field {
  text-align: right;
  vertical-align: bottom;
}

#upload p {
  margin: 0.8ex 0;
}

#moreoptions {
  display: none;
}

#moreoptions p, #morectl {
  text-align: left;
}

#copyright {
  font-size: smaller;
}

.error, .message {
  width: 50em;
  margin: 5ex auto;
}

.error {
  padding-bottom: 1ex;
  border: red 2px solid;
  background-color: #FBB;
}

.error p:before {
  content: url('img/error.png');
  padding-right: 1ex;
}

.message {
  padding: 1ex;
  border: green 2px solid;
  background-color: #BFB;
}

.message p:before {
  content: url('img/ok.png');
  padding-right: 1ex;
}

#dropbox {
    height: 15em;
    width: 25em;
    border: 5px solid #8B4513;
    background: url("img/drop-here.png") no-repeat center;
    margin: 3em auto 0;
    border-radius: 2em;
    position: relative;
}

#dropbox .desc {
    position: absolute;
    color: #888;
    font-weight: bold;
    font-size: 1.5em;
    bottom: 0.5em;
    left: 50%;
    width: 12em;
    margin-left: -6em;
}